#This file contains all the packages that we want to install when running
#the project


pandas
seaborn
numpy
matplotlib
scikit-learn
catboost
xgboost
dill
Flask

##this will trigger setup.py file
#comment it out while testing because you don't want to rebuild the package multiple times
#-e .